<div class = "page-header">
  <div class="pull-right">
    (showing first 500)
  </div>
  <h1>Stories for <%= @project %></h1>
</div>

<table class="table table-striped">
  <thead>
    <th>Story</th>
    <th>Estimate</th>
    <th>Labels</th>
    <th>Current State</th>
  </thead>

  <tbody>
    <% @stories.first(500).each do |story| %>
      <tr>
        <td><%= link_to story[:name], story[:url] %></td>
        <td><%= story[:estimate] %></td>
        <td><%= story[:label_ids] %></td>
        <td><%= story[:current_state] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
