<div class = "page-header">
  <h1>Tasks for <%= @project.name %>
    <%= link_to "New Task", new_project_task_path(@project, @task), class: "btn btn-info pull-right" %></h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active">Tasks</li>
</ol>

<table class="table">

  <thead>
    <th>Description</th>
    <th>Due On</th>
    <th></th>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <% if task.complete %>
      <tr>
        <td><s><%= link_to task.description, project_task_path(@project, task) %> <span class="badge"><%= task.comments.count %></span></s></td>
        <% if task.due_date %>
          <td><%= task.due_date.strftime("%m/%d/%Y") %></td>
        <% else %>
          <td><%= "TBD" %></td>
        <% end %>
          <td>
            <div class= "text-right">
              <%= link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-info" %>
              <%= link_to ' ', project_task_path(@project, task), method: :delete, class: "glyphicon glyphicon-remove" %>
            </div>
          </td>
        </tr>

    <% else %>

      <tr>
        <td><%= link_to task.description, project_task_path(@project, task) %> <span class="badge"><%= task.comments.count %></span></td>
        <% if task.due_date %>
          <td><%= task.due_date.strftime("%m/%d/%Y") %></td>
        <% else %>
          <td><%= "TBD" %></td>
        <% end %>
          <td>
            <div class= "text-right">
              <%= link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-info" %>
              <%= link_to ' ', project_task_path(@project, task), method: :delete, class: "glyphicon glyphicon-remove" %>
            </div>
        </td>
      </tr>

    <% end %>
    <% end %>
  </tbody>
</table>
