<div class="page-header">
  <%= link_to "Edit", edit_project_task_path, class: "btn btn-info pull-right" %>
  <h1><%= @task.description %></h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
  <li class="active"><%= @task.description %></li>
</ol>

<p><strong>Due On:</strong>
  <% if @task.due_date %>
    <%= @task.due_date.strftime("%m/%d/%Y") %>
  <% end %>
</p>

<p><h3>Comments</h3></p>

<% @comments.each do |comment| %>
  <div class="row">
    <div class="col-md-3">
      <% if comment.user_id? %>
        <p><%= link_to comment.user.full_name, user_path(comment.user_id) %></p>
      <% else %>
        <p>Deleted User</p>
      <% end %>
      <div class="text-muted">
        <p><%= time_ago_in_words(comment.created_at) %></p>
      </div>
    </div>
    <div class="col-md-9">
      <%= comment.body %>
    </div>
  </div>
<% end %>

<%= form_for [@project, @task, @comment], html: {class: "form-horizontal"} do |f| %>
  <div class="col-md-9 col-md-offset-3">
    <div class="form-group">
      <%= f.text_area :body, class: "col-md-9 form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Add Comment", class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
