 <div class="page-header">
   <%= link_to "Edit", edit_project_task_path, class: "btn btn-info pull-right" %>
    <h1><%= @task.description %></h1>
      <p>Due On:
        <% if @task.due_date %>
          <%= @task.due_date.strftime("%m/%d/%Y") %>
        <% end %>
      </p>
 </div>

 <ol class="breadcrumb">
   <li><%= link_to "Projects", projects_path %></li>
   <li><%= link_to @project.name, project_path(@project) %></li>
   <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
   <li class="active"><%= @task.description %></li>
 </ol>
