<% if @task.complete %>
 <div class="page-header">
   <%= link_to "Edit Task", edit_task_path, class: "btn btn-info pull-right" %>
    <h1><s><%= @task.description %></s></h1>
      <p>Due On:
        <% if @task.due_date %>
        <%= @task.due_date.strftime("%m/%d/%Y") %>
        <% end %></p>
 </div>

<% else %>
 <div class="page-header">
   <%= link_to "Edit Task", edit_task_path, class: "btn btn-info pull-right" %>
    <h1><%= @task.description %></h1>
      <p>Due On:
        <% if @task.due_date %>
        <%= @task.due_date.strftime("%m/%d/%Y") %>
        <% end %></p>
 </div>
<% end %>

<ol class="breadcrumb">
 <li><%= link_to "Tasks", tasks_path %></li>
 <li class="active"><%= @task.description %></li>
</ol>
