<div class = "page-header">
  <div class="new-project-header">
    <h1>Projects <%= link_to "New Project", new_project_path(@project), class: "btn btn-info pull-right" %></h1>
  </div>
</div>

<table class="table">

  <thead>
    <tr>
      <th>Name</th>
      <th>Tasks</th>
    </tr>
  </thead>

  <% if current_user.admin == true %>
  <tbody>
    <% @all_projects.each do |ap| %>
    <tr>
      <td><%= link_to ap.name, project_path(ap) %></td>
      <td><%= link_to ap.tasks.count, project_tasks_path(ap) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <% else %>

    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= link_to project.tasks.count, project_tasks_path(project) %></td>
      <% end %>
      </tr>
    </tbody>
</table>

<% end %>
