
<div class = "page-header">
  <%= link_to "Edit User", edit_user_path, class: "btn btn-info pull-right" %>
  <h1>User Info</h1>
</div>
<br>

<p><%= @user.first_name.capitalize + " " + @user.last_name.capitalize %></p>
<p><%= @user.email %></p>

<ol class="breadcrumb">
 <li><%= link_to "Users", users_path %></li>
 <li class="active"><%= @user.first_name %></li>
</ol>
