<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">gCamp</a>
    </div>
  </div>
</nav>


<div class="container">


<%= yield %>

<div class="page-header">
</div>

<footer>
  <div class="row">
    <div class="col-md-6">
      <%= link_to "About", about_path() %>
        |
      <%= link_to "Terms", terms_path() %>
        |
      <%= link_to "FAQ", faq_path() %>
        |
      <%= link_to "Tasks", tasks_path() %>
    </div>

<div class="col-md-6 text-right">
    <%= link_to image_tag("linked_in.jpg", class: "img_footer"), "https://www.linkedin.com/" %>
    <%= link_to image_tag("git_hub.png", class: "img_footer"), "https://www.github.com/" %>
    <%= link_to image_tag("twitter.png", class: "img_footer"), "https://www.twitter.com/" %>
    <%= link_to image_tag("galvanize.png", class: "img_footer"), "https://students.gschool.it/" %>
</div>

  </div>
</div>

</body>
</html>
