<div class = "container">
  <%= form_for @task, html: {class:"form-horizontal"} do |f| %>
    <div class = "form-group">
      <%= f.label :description, class: "col-sm-1 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :title, class: "form-control" %>
        </div>
    </div>

      <div class = "form-group">
        <%= f.label :due_date, class: "col-sm-1 control-label" %>
          <div class = "col-sm-2">
            <%= f.date_field :due_date, class: "form-control" %>
          </div>
      </div>

        <div class = "form-group">
          <div class="col-sm-offset-1 col-sm-10">
            <% unless @task.new_record? %>
            <%= f.check_box :complete %>
            <%= "Complete" %>
            <% end %>
          </div>
        </div>

          <div class = "form-group">
            <div class="col-sm-offset-1 col-sm-10">
              <%= f.submit class: "btn btn-primary"  %>
              <%= link_to "Cancel", tasks_path, class: "btn btn-default" %>
            </div>
          </div>

  <% end %>
</div>
