<h1>Tasks <%= link_to "New Task", new_task_path(@task), class: "btn btn-info pull-right" %></h1>

  <table class="table">

    <thead>
      <tr>
        <th>Description</th>
        <th>Due On</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
      <% if task.complete %>
        <tr>
          <td><s><%= link_to task.description, task_path(task) %></s></td>
            <% if task.due_date %>
              <td><%= task.due_date.strftime("%m/%d/%Y") %></td>
            <% else %>
              <td><%= "TBD" %></td>
            <% end %>
              <td>
                <div class= "text-right">
                  <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %>
                  <%= link_to 'Delete', task_path(task), method: :delete, class: "btn btn-danger" %>
                </div>
              </td>
          </tr>

      <% else %>
        <tr>
          <td><%= link_to task.description, task_path(task) %></td>
            <% if task.due_date %>
              <td><%= task.due_date.strftime("%m/%d/%Y") %></td>
            <% else %>
              <td><%= "TBD" %></td>
            <% end %>
              <td>
                <div class= "text-right">
                  <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %>
                  <%= link_to 'Delete', task_path(task), method: :delete, class: "btn btn-danger" %>
                </div>
              </td>
          </tr>

      <% end %>
      <% end %>
    </tbody>
  </table>
