<div class="page-header">
  <h1>New Task</h1>
</div>

<p><%= link_to "Tasks", tasks_path %> > New Task</p>

<br>

<div class = "container">
  <div class = "row">
    <%= form_for Task.new do |f| %>
      <div class="form-group">
        <%= f.label :description, class: "col-sm-1 control-label" %>
        <div class = "col-sm-4">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
  </div>

    <br>

    <div class = "row">
      <div class = "col-md-3 col-md-offset-1">
        <%= f.submit "Create Task", class: "btn btn-primary"  %>
        <%= link_to "Cancel", tasks_path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>
